<!DOCTYPE html>
<html lang="en">
<head>
  <title>Signal Sciences Admin Tool</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap-notify.min.js"></script>
  <script src="/js/bootstrap-multiselect.js"></script>
  <script src="/js/app.js"></script>
  <link rel="stylesheet" href="/css/bootstrap-multiselect.css" type="text/css"/>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="/logo.png" align="left" height="25px"> Signal Sciences Admin Tool</a>
    </div>
    <ul class="nav navbar-nav">
      {% if 'username' in session %}
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
        <!-- TODO: <li><a href="#">Health Check</a></li> -->
        <!-- TODO: <li><a href="#">Audit</a></li>-->
        <li><a href="/logout">Logout</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
  
<div class="container">
    <h3>Manage configuration for <i>{{ display_name }}</i></h3>
    <ul class="nav nav-tabs" id="tab-list">
        <li id="request_rules" class="active"><a href="javascript:get_request_rules('{{ session['corp']}}', '{{ session['site'] }}');">Request Rules</a></li>
        <li id="signal_rules"><a href="javascript:get_signal_rules('{{ session['corp']}}', '{{ session['site'] }}');">Signal Rules</a></li>
        <li id="templated_rules"><a href="javascript:get_templated_rules('{{ session['corp']}}', '{{ session['site'] }}');">Templated Rules</a></li>
        <li id="advanced_rules"><a href="javascript:get_advanced_rules('{{ session['corp']}}', '{{ session['site'] }}');">Advanced Rules</a></li>
        <li id="lists"><a href="javascript:get_rule_lists('{{ session['corp']}}', '{{ session['site'] }}');">Lists</a></li>
        <li id="custom_rules"><a href="javascript:get_custom_signals('{{ session['corp']}}', '{{ session['site'] }}');">Custom Signals</a></li>
        <li id="custom_alerts"><a href="javascript:get_custom_alerts('{{ session['corp']}}', '{{ session['site'] }}');">Custom Alerts</a></li>
        <li id="redactions"><a href="javascript:get_redactions('{{ session['corp']}}', '{{ session['site'] }}');">Redactions</a></li>
        <li id="header_links"><a href="javascript:get_header_links('{{ session['corp']}}', '{{ session['site'] }}');">Header Links</a></li>
        <li id="integrations"><a href="javascript:get_integrations('{{ session['corp']}}', '{{ session['site'] }}');">Integrations</a></li>
      </ul>
</div>
<br />
<div id="content" style="vertical-align: top;"></div>
{% if javascript is not none %}
  <script>
  {{ javascript|safe }}
  </script>
{% endif %}
</body>
</html>
